@font-face {
    font-family: Action;
    src: url(font-stiles/A.Action\ Jackson.Alen_.Rus_.ttf);
}

@font-face {
    font-family: Cyberpunk;
    src: url(font-stiles/Cyberpunk_RUS_BY_LYAJKA.ttf);
}

@font-face {
    font-family: Leto;
    src: url(font-stiles/Leto\ Text\ Sans\ Defect.otf);
}

@font-face {
    font-family: RubikMonoOne;
    src: url(font-stiles/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: TS;
    src: url(font-stiles/TS\ Block\ Bold.ttf);
}

@font-face {
    font-family: Worship;
    src: url(font-stiles/Worship\ Music.ttf);
}
